.social{
	position: absolute;
	width: 35px;
	height: 35px;
	font-size: 35px;
	right: 50px;
	top: 50px;
	color: #FF4E50;
	-webkit-transition: top .2s ease-in-out;
	-moz-transition: top .2s ease-in-out;
	-o-transition: top .2s ease-in-out;
	transition: top .2s ease-in-out;
	z-index: 2;
	opacity: .3;
}
.social.pushed{
	opacity: 1;
	top: 125px;
}