.social{
	position: absolute;
	width: 35px;
	height: 35px;
	font-size: 35px;
	right: 50px;
	top: 75px;
	color: #FF4E50;
	-webkit-transition: top .2s ease-in-out;
	-moz-transition: top .2s ease-in-out;
	-o-transition: top .2s ease-in-out;
	transition: top .2s ease-in-out;
	z-index: 2;
	opacity: .3;
}
.social:hover {
	opacity: 1;
	cursor: pointer;
}
.social.pushed{
	opacity: 1;
	top: 125px;
}
.messageForm {
	display: block;
	position: absolute;
	width: 360px;
	height: auto;
	background: transparent;
	padding: 0;
	right: 0px;
	top: 125px;
	z-index: 2;
	opacity: 0;
	-webkit-transition: opacity .250s ease-in;
       -moz-transition: opacity .250s ease-in;
        -ms-transition: opacity .250s ease-in;
         -o-transition: opacity .250s ease-in;
            transition: opacity .250s ease-in;
}
.messageForm.enabled {
	opacity: 1;
}
.messageForm .author {
	padding: 5px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-top-left-radius: 3px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width: inherit;
	color: #555;
	outline: none;
}
.messageForm .message {
	padding: 5px;
	height: 100px;
	font-size: 18px;
	border: 1px solid #eee;
	border-top: 0px solid transparent;
	border-bottom: 0px solid transparent;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	width: inherit;
	color: #555;
	outline: none;
	resize: none;
}
.messageForm .sendBtn {
	font-size: 32px;
	padding: 5px;
	border: 1px solid #ccc;
	border-bottom-left-radius: 3px;
	width: inherit;
	outline: none;
	display: block;
	border: 1px solid transparent;
	text-align: center;
	color: white;
	background-color: #FF4E50;
	font-family: billy;
}
.messageForm .sendBtn:hover{
	opacity: .7;
	cursor: pointer;
	-webkit-transition: opacity .1s ease-in-out;
	-moz-transition: opacity .1s ease-in-out;
	-o-transition: opacity .1s ease-in-out;
	transition: opacity .1s ease-in-out;
}
.messages-box {
	position: absolute;
	display: block;
	left: 10px;
	top: 40%;
	width: 300px;
	z-index: 3;
}
.social-message {
	top: 0px;
	width: inherit;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px 8px;
	margin: 10px;
	opacity: .8;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.social-message.hidden {
	opacity: 0;
}
.social-message.disabled {
	display: none;
}
.social-message .message {
	font-family: sans-serif;
	font-family: "Open Sans";
	font-size: 18px;
	color: #555;
}
.social-message .author {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14px;
	color: #777;
}
