.splash-page{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #F76F6F;
	left: 0;
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;
}
.splash-page.hidden{
	left: -100%;
}
.splash-page > .wrapper{
	width: 100%;
	height: 100%;
}
.splash-page > .wrapper > .centered{
	width: 30%;
	margin: auto;
	height: 60%;
	top: 25%;
	position: relative;
}
.splash-page > .wrapper > .centered > img.main-image{
	width: auto;
	height: 70%;
	display: block;
	margin: auto;
}
.splash-page > .wrapper > .centered > img.loading-image{
	width: auto;
	height: 30%;
	display: block;
	margin: auto;

}