@font-face {
  font-family: billy;
  src: url(../fonts/billy.ttf);
}

.top-bar{
	position: absolute;
	width: 100%;
	height: 75px;
	top: 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 3;
}
.top-bar.hidden{
	top: -75px;
	height: 100px;
}
.top-bar > .full-bar{
	width: 100%;
	height: 75px;
	background-color: #FF4E50;
	display: block;
}
.top-bar > .full-bar > .channels{
	margin: auto;
	width: auto;
	height: 75px;
	top: 19px;
	position: relative;
	text-align: center;
}
.top-bar > .full-bar > .channels > .child{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	color: #ffffff;
	font-size: 45px;
}
.top-bar > .full-bar > .channels > .child:hover{
	opacity: .6;
}
.top-bar > .full-bar > .channels > .current {
	font-family: billy;
	font-size: 50px;
}

.top-bar > .full-bar > .channels > .left.arrow {
	position: absolute;
	left: 65px;
}

.top-bar > .full-bar > .channels > .right.arrow {
	position: absolute;
	right: 10px;
}

.top-bar > .full-bar > .channels > .create-btn {
	position: absolute;
	left: 10px;
}
.top-bar > .timer-bar{
	width: 100%;
	height: 5px;
	background-color: rgba(255,255,255,.3);
	/*border-top: #aaa;*/
	display: block;
}