<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/video-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/splash-page-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/top-bar-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/person-count-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/social-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create-channel-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/full-channels-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/full-content-component.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main-component.css') }}">
		<script src="{{ url_for('static', filename='js/vendor/reactjs/JSXTransformer.js') }}"></script>
	</head>
	<body>
		<div id="main"></div>

		<script src="{{ url_for('static', filename='js/vendor/reactjs/react.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/reactjs/react-dom.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/vendor/jwplayer/jwplayer.js') }}"></script>
		<script>jwplayer.key="QZ+2v94kg/a8XvHYImhAldsqHZxCSnhUbm4PLQ==";</script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/video-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/splash-page-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/top-bar-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/person-count-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/social-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/create-channel-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/full-channels-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/full-content-component.js') }}"></script>
		<script type="text/jsx" src="{{ url_for('static', filename='js/reactive/src/main-component.js') }}"></script>
	</body>
</html>